.main-layout {
  background-color: rgb(227, 226, 220);
  background-size: cover;
  padding: 20px;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product-item {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

/* Media Query for Mobile Phones (up to 767px wide) */
@media (max-width: 767px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media Query for Tablet Devices (768px to 1023px wide) */
@media (min-width: 768px) and (max-width: 1023px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Style for PaginationControls component */
.pagination-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination-button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: #0056b3;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
